@using Raft.Web.Models;
@using Raft.Web.Components;

@page "/products"

<PageTitle>Products</PageTitle>

<h1>Products</h1>

@if (_products != null)
{
  @foreach (var product in _products)
  {
    <Item Product="product" />
  }
}

@code
{
  private List<Product> _products { get; set; }

  protected override async Task OnInitializedAsync()
  {
    List<Product> itemList = new()
    {
      new Product("Headset", 1.00m),
      new Product("Mouse", 1.00m),
      new Product("Keyboard", 1.00m),
      new Product("Monitor", 1.00m),
      new Product("Desktop PC", 1.00m)
    };

    _products = itemList;
  }
}